* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dde2e3;
}

.container {
  width: 80%;
  margin: 7vw auto;
  display: grid;
  background-color: #9aacb8;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "name header header"
    "sidebar content content"
    "sidebar content content"
    "footer footer footer";
}

.item {
  background-color: #9aacb8;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
/* .item:nth-child(even){
    background-color: rgb(255, 142, 142);
} */
.name {
  color: white;
  text-shadow: 0 0 5px rgb(80, 194, 223);
  display: block;
  text-align: center;
  grid-area: name;
  background-color: #fff;
}

.header {
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  color: #000;
  align-items: center;
  grid-area: header;
  background-color: #fff;
}
.sidebar img {
  width: 50%;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 5px blue;
}
.sidebar {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  padding: 0;
  grid-area: sidebar;
}
a {
  text-decoration: none;
  transition: 0.3s;
}

.header a:hover {
  background-color: rgb(42, 0, 228);
  border-radius: 50%;
  color: white;
  transition-delay: 200ms;
}

.content {
  list-style: none;
  grid-area: content;
}
.content .about {
  color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: rgb(24, 220, 255);
  transition: 0.3s;
  transition-delay: 240ms;
}
.content .about:hover {
  transform: rotate(360deg);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: rgb(29, 184, 211);
  box-shadow: 0 0 7px red;
}

.content .profile {
  color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: rgb(0, 247, 214);
  transition: 0.3s;
  transition-delay: 240ms;
}

.content .profile:hover {
  transform: rotate(360deg);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: rgb(24, 201, 177);
  box-shadow: 0 0 7px rgb(148, 255, 48);
}

.content .contact {
  color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: rgb(21, 255, 0);
  transition: 0.3s;
  transition-delay: 240ms;
}

.content .contact:hover {
  transform: rotate(360deg);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: rgb(16, 187, 0);
  box-shadow: 0 0 7px red;
}

.footer {
  font: 12px/20px arial, sans-serif;
  margin-top: 20px;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
  padding: 5px;
  justify-content: center;
  grid-area: footer;
  background-color: rgb(151, 60, 151);
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
}

/* responsif Breakpoint */
@media screen and (max-width: 500px) {
  .container {
    grid-template-areas:
      "name name name"
      "header header header"
      "sidebar sidebar sidebar"
      "content content content"
      "footer footer footer";
    gap: 20px;
  }

  .content .about:hover,
  .content .profile:hover,
  .content .contact:hover {
    transform: rotate(0deg);
    transition-delay: 0ms;
  }
}
@media screen and (max-width: 700px) {
  .container {
    grid-template-areas:
      "name name name"
      "header header header"
      "sidebar sidebar sidebar"
      "content content content"
      "footer footer footer";
    gap: 20px;
  }
  .header {
    justify-content: center;
  }
  .content {
    justify-content: center;
  }
  .content .about:hover,
  .content .profile:hover,
  .content .contact:hover {
    transform: rotate(0deg);
    transition-delay: 0ms;
  }
}
